<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Revolve - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Themify -->
    <link rel="stylesheet" href="{% static 'plugins/themify/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick.css' %}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/magnific-popup/magnific-popup.css' %}">
    <!-- main stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>

    <header class="header-top bg-grey justify-content-center">
        <nav class="navbar navbar-expand-lg navigation">
            <div class="container">
                <a class="navbar-brand d-lg-none" href="index.html"><img src="{% static 'images/logo.png' %}" alt=""
                        class="img-fluid"></a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="ti-menu"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul id="menu" class="menu navbar-nav ">
                        <li class="nav-item dropdown  pl-0">
                            <a class="nav-link dropdown-toggle" href="{% url 'index' %}">
                                Home
                            </a>
                            
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'show_blog' %}">
                                Blog Posts
                            </a>
                            
                        </li>

                        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="fashion.html" class="nav-link">Category</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Post Formats
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                <a class="dropdown-item" href="post-video.html">Video Formats</a>
                                <a class="dropdown-item" href="post-audio.html">Audio Format</a>
                                <a class="dropdown-item" href="post-link.html">Quote Format</a>
                                <a class="dropdown-item" href="post-gallery.html">Gallery Format</a>
                                <a class="dropdown-item" href="post-image.html">Image Format</a>
                            </div>
                        </li>
                        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                        <li class="nav-item d-lg-none">
                            <div class="search_toggle p-3 d-inline-block bg-white"><i class="ti-search"></i></div>
                        </li>
                    </ul>
                </div>

                <div class="text-right search d-none d-lg-block">
                    <div class="search_toggle"><i class="ti-search"></i></div>
                </div>
            </div>
        </nav>

    </header>
    <!--search overlay start-->
    <div class="search-wrap">
        <div class="overlay">
            <form action="#" class="search-form">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 col-9">
                            <input type="text" class="form-control" placeholder="Search..." />
                        </div>
                        <div class="col-md-2 col-3 text-right">
                            <div class="search_toggle toggle-wrap d-inline-block">
                                <i class="ti-close"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--search overlay end-->

    <section class="single-block-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">
                            <article class="post">

                                <div class="post-header mb-5 text-center">
                                    <div class="meta-cat">
                                        <a class="post-category font-extra text-color text-uppercase font-sm letter-spacing-1"
                                            href="#">{{ blog.title }}</a>
                                       
                                    </div>
                                    <h2 class="post-title mt-2">
                                        {{ blog.desc }}
                                    </h2>

                                    <div class="post-meta">
                                        <span class="text-uppercase font-sm letter-spacing-1 mr-3">by Liam</span>
                                        <span class="text-uppercase font-sm letter-spacing-1">{{ blog.publication_date }}</span>
                                    </div>
                                </div>
                            {% if blog.blogimg %}
                                <div class="post-img mb-4">
                                    <a href="#"><img class="img-fluid" src="{{ blog.blogimg.url }}" alt="{{ blog.title }}"></a>
                                </div>
                            {% endif %}
                                <div class="post-body">
                                    <div class="entry-content">
                                        <p> {{ blog.blog_content }}</p>
                                       

                                    </div>

                                </div>
                            </article>
                        </div>
                    </div>   

                </div>


                {% comment %} <section class="single-block-wrapper section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <article class="post">

                                                
            
                                                <div
                                                    class="tags-share-box center-box d-flex text-center justify-content-between border-top border-bottom py-3">
            
                                                    <span class="single-comment-o"><i class="fa fa-comment-o"></i>0 comment</span>
            
                                                    <div class="post-share">
                                                        <span class="count-number-like">2</span>
                                                        <a class="penci-post-like single-like-button"><i class="ti-heart"></i></a>
                                                    </div>
            
                                                    <div class="list-posts-share">
                                                        <a target="_blank" rel="nofollow" href="#"><i class="ti-facebook"></i></a>
                                                        <a target="_blank" rel="nofollow" href="#"><i class="ti-twitter"></i></a>
                                                        <a target="_blank" rel="nofollow" href="#"><i class="ti-pinterest"></i></a>
                                                        <a target="_blank" rel="nofollow" href="#"><i class="ti-linkedin"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            
                              
                               
                                <div class="comment-area my-5">
                                    <h3 class="mb-4 text-center">2 Comments</h3>
                                    <div class="comment-area-box media">
                                        <img alt="" src="images/blog-user-2.jpg" class="img-fluid float-left mr-3 mt-2">
            
                                        <div class="media-body ml-4">
                                            <h4 class="mb-0">Micle harison </h4>
                                            <span class="date-comm font-sm text-capitalize text-color"><i
                                                    class="ti-time mr-2"></i>June 7, 2019 </span>
            
                                            <div class="comment-content mt-3">
                                                <p>Lorem ipsum dolor sit amet, usu ut perfecto postulant deterruisset, libris causae
                                                    volutpat at est, ius id modus laoreet urbanitas. Mel ei delenit dolores.</p>
                                            </div>
                                            <div class="comment-meta mt-4 mt-lg-0 mt-md-0">
                                                <a href="#" class="text-underline ">Reply</a>
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="comment-area-box media mt-5">
                                        <img alt="" src="images/blog-user-3.jpg" class="mt-2 img-fluid float-left mr-3">
            
                                        <div class="media-body ml-4">
                                            <h4 class="mb-0 ">John Doe </h4>
                                            <span class="date-comm font-sm text-capitalize text-color"><i
                                                    class="ti-time mr-2"></i>June 7, 2019 </span>
            
                                            <div class="comment-content mt-3">
                                                <p>Some consultants are employed indirectly by the client via a consultancy staffing
                                                    company. </p>
                                            </div>
                                            <div class="comment-meta mt-4 mt-lg-0 mt-md-0">
                                                <a href="#" class="text-underline">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                <form class="comment-form mb-5 gray-bg p-5" id="comment-form">
                                    <h3 class="mb-4 text-center">Leave a comment</h3>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <textarea class="form-control mb-3" name="comment" id="comment" cols="30" rows="5"
                                                placeholder="Comment"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="name" id="name" placeholder="Name:">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="mail" id="mail" placeholder="Email:">
                                            </div>
                                        </div>
                                    </div>
            
                                    <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact"
                                        value="Submit Message">
                                </form>
            
                            </div>


                        </div>
                    </div>
                </section> {% endcomment %}


                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="sidebar sidebar-right">
                        <div class="sidebar-wrap mt-5 mt-lg-0">
                            <div class="sidebar-widget about mb-5 text-center p-3">
                                <div class="about-author">
                                    <img src="images/author.jpg" alt="" class="img-fluid">
                                </div>
                                <h4 class="mb-0 mt-4">Liam Mason</h4>
                                <p>Travel Blogger</p>
                                <p>I'm Liam, last year I decided to quit my job and travel the world. You can follow my
                                    journey on this blog!</p>
                                <img src="images/liammason.png" alt="" class="img-fluid">
                            </div>

                            <div class="sidebar-widget follow mb-5 text-center">
                                <h4 class="text-center widget-title">Follow Me</h4>
                                <div class="follow-socials">
                                    <a href="#"><i class="ti-facebook"></i></a>
                                    <a href="#"><i class="ti-twitter"></i></a>
                                    <a href="#"><i class="ti-instagram"></i></a>
                                    <a href="#"><i class="ti-youtube"></i></a>
                                    <a href="#"><i class="ti-pinterest"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="single-block-wrapper section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                     <div class="row">
                        <div class="col-md-12">

                            <article class="post">
                                    <div
                                        class="tags-share-box center-box d-flex text-center justify-content-between border-top border-bottom py-3">

                                        <span class="single-comment-o"><i class="fa fa-comment-o"></i>0 comment</span>

                                        <div class="post-share">
                                            <form action="" method="POST"> {% csrf_token %}
                                    
                                         {% if request.user in blog.likes.all %}
                                            <a href="{%  url 'dislike_post' blog.id %}"> {{blog.likes.count}}
                                                Like<i class="ti-heart"></i>
                                            </a>
                                        {% else %}  
                                            <a href="{%  url 'like_post' blog.id %}"> {{blog.likes.count}}
                                            Like<i class="ti-heart"></i>
                                            </a>  
                                        {% endif %}

                                    
                                            </form>
                                        </div>

                                        {% comment %} <div class="list-posts-share">
                                            <a target="_blank" rel="nofollow" href="#"><i class="ti-facebook"></i></a>
                                            <a target="_blank" rel="nofollow" href="#"><i class="ti-twitter"></i></a>
                                            <a target="_blank" rel="nofollow" href="#"><i class="ti-pinterest"></i></a>
                                            <a target="_blank" rel="nofollow" href="#"><i class="ti-linkedin"></i></a>
                                        </div> {% endcomment %}
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div> 
                
  {% comment %} ....................... ...... .. . .. .. .... .. .. {% endcomment %}
               
                    <div class="comment-area my-5">
                        <h3 class="mb-4 text-center">2 Comments</h3>
                        {% for comment in comments %}
                            <div class="comment-area-box media">
                                <img alt="" src="{% static 'images/blog-user-2.jpg' %}" class="img-fluid float-left mr-3 mt-2">
                            
                                <div class="media-body ml-4">
                                    <h4 class="mb-0">{{ comment.name }} </h4>
                                    <span class="date-comm font-sm text-capitalize text-color"><i
                                            class="ti-time mr-2"></i>{{ comment.created_at }}</span>

                                    <div class="comment-content mt-3">
                                        <p>{{ comment.comment }}</p>
                                    </div>
                                    <div class="comment-meta mt-4 mt-lg-0 mt-md-0">
                                        <a href="#" class="text-underline ">Reply</a>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                        
                          
                    </div>
                

{% comment %} .......... ............................... ........... .. ... .. . . .. {% endcomment %}


                    <form  method="post" class="comment-form mb-5 gray-bg p-5" id="comment-form" >
                        {% csrf_token %}
                        <h3 class="mb-4 text-center">Leave a comment</h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <textarea class="form-control mb-3" name="comment" id="comment" cols="30" rows="5"
                                    placeholder="Comment"></textarea>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" id="name" placeholder="Name:">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" type="text" name="email" id="email" placeholder="Email:">
                                </div>
                            </div>
                        </div>

                        <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact"
                            value="Submit Message">
                        {% if message %}
                        {{message}}
                        {% endif %}
                    </form>


{% comment %} .......... ............................... ........... .. ... .. . . .. {% endcomment %}


                </div>


            </div>
        </div>
    </section>


    <!--footer start-->
    <footer class="footer-section bg-grey">
        <div class="instagram-photo-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4 class="text-center"></h4>
                    </div>
                </div>

                <div class="row no-gutters" id="instafeed">

                </div>
            </div>
        </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="mb-4">
                        <h2 class="footer-logo">Revolve.</h2>
                    </div>
                    <ul class="list-inline footer-socials">
                        <li class="list-inline-item"><a href="#"><i class="ti-facebook mr-2"></i>Facebook</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-twitter mr-2"></i>Twitter</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-linkedin mr-2"></i>Linkedin</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-pinterest mr-2"></i>Pinterest</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-github mr-2"></i>Github</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-instagram mr-2"></i>Instrgram</a></li>
                        <li class="list-inline-item"><a href="#"><i class="ti-rss mr-2"></i>rss</a></li>
                    </ul>
                </div>

                <div class="col-md-12 text-center">
                    <p class="copyright">© Copyright 2019 - Revolve. All Rights Reserved. Distribution <a
                            class="text-white" href="https://themewagon.com">ThemeWagon.</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!--footer end-->

    <!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script src="{% static 'js/jquery.js' %}"></script>
<!-- Bootstrap jQuery -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
<!-- Owl caeousel -->
<script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'plugins/slick-carousel/slick.min.js' %}"></script>
<script src="{% static 'plugins/magnific-popup/magnific-popup.js' %}"></script>
<!-- Instagram Feed Js -->
<script src="{% static 'plugins/instafeed-js/instafeed.min.js' %}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="{% static 'plugins/google-map/gmap.js' %}"></script>
<!-- main js -->
<script src="{% static 'js/custom.js' %}"></script>


</body>

</html>