{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>
    <link rel="stylesheet" href="{% static 'css/verify_otp.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
    <div class="container">
        <h2>OTP Verification</h2>
        <form action="{% url 'verify_otp' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="otp">Enter OTP:</label>
                <input type="text" id="otp" name="otp" required>
            </div>
            <button type="submit">Verify OTP</button>
            <div class="">
                <div class="">
                      {% include 'alerts.html' %}
                </div>
            </div>
        </form>
    </div>
</body>
</html>
